.menu-navbar {
  position: fixed;
  top: 9.6rem;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.6rem;
  background-color: #b98f71;
  transition: opacity 1s transform 10s;
  transition: transform 1s, opacity 1s;
  z-index: 1;
}

.menu-category {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.menu-category:hover {
  color: #ccc;
}

.menu-category-active {
  /* padding-bottom: 0.5rem; */
  border-bottom: 0.1rem solid white;
  /* color: black; */
}

.menu {
  margin-top: 13.2rem;
  padding: 9.6rem 0;
}

.menu-group {
  margin-bottom: 4.6rem;
  border-bottom: 0.2rem solid #ccc;
  transition: transform 1s, opacity 1s;
}
.menu-group-hidden {
  opacity: 0;
  transform: translateY(5rem);
}

.menu-header {
  width: 115rem;
  margin: 0 auto;
}

.menu-group-name {
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
  /* text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem; */
}

.menu-group-description {
  text-align: center;

  font-size: 2.1rem;
  line-height: 1.6;
  font-weight: 260;
  width: 60rem;
  margin: 0 auto;
}

.menu-content {
  display: flex;
  justify-content: space-around;
  margin-top: 2.8rem;
}

.menu-list {
  list-style: none;
}

.menu-item {
  margin: 3.2rem 0;
  height: 12rem;
}

#salad .menu-item {
  margin: 6.2rem 0;
}

#pizza .menu-item {
  margin: 4.2rem 0;
}

.food__information {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.order-button {
  background-color: white;
  border-radius: 3.6rem;
  padding: 0.6rem 1.6rem;
  border-width: 0;
  box-shadow: 0rem 0.3rem 0.8rem #ccc;
  transform: translateY(0.5rem);
  transition: all 0.3s;
  cursor: pointer;
}

.order-button:hover {
  transform: translateY(0);
  box-shadow: 0rem 0.3rem 2.8rem #ccc;
}

.food-name {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
  color: #555;
  font-family: "Nunito", sans-serif;
}

.food-price {
  display: inline-block;
  padding-top: 2px;
  font-size: 1.6rem;
  transform: translateY(1.5rem);
}

.food-description {
  font-size: 1.5rem;
  width: 40rem;
  line-height: 1.5;
  display: block;
  margin-top: 1.8rem;
  padding-left: 1.6rem;
}

.extra-dollar {
  display: flex;
  justify-content: space-between;
}

.extra-content {
  width: 80rem;
  margin: 0 auto;
}
