/* **************** */
/* Order box */
/* **************** */

.formbox__container {
  background: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 10;
}

.formbox {
  background-color: white;

  width: 38rem;
  max-height: 100rem;
  border-radius: 1.3rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formbox__close_button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.3rem 0 0;
  background-color: #ccc;
  opacity: 0.6;
}

.formbox__close_icon {
  font-size: 3.6rem;
  color: #555;
  transition: color 0.1s;
  cursor: pointer;
}

.formbox__close_icon:hover {
  color: black;
}

/*Form area */
.order__image {
  width: 100%;
  max-height: 32rem;
  border-radius: 1.3rem 1.3rem 0 0;
}

.order__image img {
  width: 100%;
  border-radius: 1.3rem 1.3rem 0 0;
}

.order__info {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem; */

  /* height: auto !important; */
  max-height: 18rem;
  overflow: hidden;
  padding: 2.5rem;
  border-bottom: 0.2rem solid #ccc;
}

.order__name {
  font-size: 2.4rem;
  font-style: italic;
}

.order__description {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.3;
}

/* SIZE OPTIONS */
.order__size__options p {
  font-size: 2rem;
  margin: 2rem 0 0 2rem;
}

.size_options__container {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.2rem solid #ccc;
  padding: 2.5rem;
  font-size: 1.8rem;
}

.size_options__container div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.size_options__container input {
  cursor: pointer;
}

/* SUBSTITUTE OPTIONS */
.order__item__container p {
  font-size: 2rem;
  margin: 2rem 0 0 2rem;
}

.order__item__options {
  border-bottom: 0.2rem solid #ccc;
  padding: 2.5rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 11rem;
  overflow-y: scroll;
}

.order__item {
  display: flex;
  justify-content: space-between;
}

.order__input {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.order__input input {
  cursor: pointer;
}

/* ORDER CONTROL */
.order__total {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  border-bottom: 0.2rem solid #ccc;
}

.order__quantity {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.order__quantity:first-child {
  font-size: 2rem;
}

.order__qty__btn {
  font-size: 2.8rem;
  transition: color 0.1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #555;
}

.order__qty__btn:hover {
  color: black;
}

.order__actual__qty {
  width: 2.5rem;
  text-align: center;
}

.qty__btn_inactive {
  cursor: auto;
}

.qty__btn_inactive:hover {
  color: #555;
}

.Add__to__cart {
  font-size: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 1.3rem;
  background-color: #8b4513;
  color: white;
  border-width: 0;
  width: 25rem;
  margin: 2rem auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  transition: background-color 0.3s;
  cursor: pointer;
}

.Add__to__cart:hover {
  background-color: #61300d;
}

.Add__to__cart_inactive {
  background-color: #ae7d5a;
  opacity: 0.8;
  cursor: default;
}

.Add__to__cart_inactive:hover {
  background-color: #ae7d5a;
}
