@media (max-width: 1000px) {
  .gallery-container {
    max-width: 84rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* assume from 768px and down is tablet screen, 
   so drop the left and right buttons */
@media (max-width: 768px) {
  .lightbox {
    flex-direction: column;
  }

  #lightbox__left {
    display: none;
  }

  #lightbox__right {
    display: none;
  }

  #lightbox__close {
    display: block;
    position: fixed;
    top: 3rem;
    left: 3%;
    transform: translateY(-15%);
  }

  .gallery_page_number {
    top: 3rem;
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 700px) {
  .gallery-container {
    max-width: 64rem;
    grid-template-columns: repeat(3, 1fr);
  }

  #lightbox__close {
    top: 6rem;
  }

  .gallery_page_number {
    top: 6rem;
  }
}

@media (max-width: 500px) {
  .gallery-container {
    max-width: 42rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
